<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
        <title>GL.iNet Admin Panel</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="google" value="notranslate">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Cache-Control" content="max-age=28800, must-revalidate" />
        <meta name="renderer" content="webkit">
        <link rel="stylesheet" href="src/static/css/lib.min.css?rev=f043e131231657827783478heuiwoabuju8785448852442222rkj84587854653ednigasdlistd36ee">
        <link rel="stylesheet" href="src/static/css/sb-admin.css?rev=49ea8131231657827783478heuiwoabuju8785448852442222rkj84587854653ednigasdliste23be">
        <link rel="stylesheet" href="src/static/css/adapter.css?rev=9fc20131231657827783478heuiwoabuju8785448852442222rkj84587854653ednigasdlist9e998">
        <script src="src/lib/eval2.js?rev=95b51131231657827783478heuiwoabuju8785448852442222rkj84587854653ednigasdlista3d64"></script>
        <script src="src/lib/require.js?rev=5b086131231657827783478heuiwoabuju8785448852442222rkj84587854653ednigasdlist4837b"></script>
        <script src="src/config.js?rev=4d835131231657827783478heuiwoabuju8785448852442222rkj84587854653ednigasdlist85a77"></script>
        <script src="src/main.js?rev=d5a8c131231657827783478heuiwoabuju8785448852442222rkj84587854653ednigasdlist628b0"></script>
        <script src="src/lib/iconfont.js?rev=15be0131231657827783478heuiwoabuju8785448852442222rkj84587854653ednigasdlistebc55"></script>
	</head>
	<body>
		<div id="app" v-cloak>
            <transition name="main-fade" mode="out-in">
                <!-- <loading v-if="loading"></loading> -->
                <!-- <gl-loading v-if="loading"></gl-loading> -->
                <indext ></indext>
            </transition>
        </div>
	</body>
</html>
